<aside class="sidebar" id="sidebar">
  <div class="logo">
    <img src="/img/Logo_SP.png" alt="Logo">
    <h3>PLI 1 Maintenance</h3>
  </div>

  <ul class="menu">
    <li class="<%= active==='home'?'active':'' %>">
      <a href="/home">Home</a>
    </li>
    <li class="<%= active==='chart'?'active':'' %>">
      <a href="/chart">Chart</a>
    </li>
    <li class="<%= active==='user'?'active':'' %>">
      <a href="/kelola-user">Kelola User</a>
    </li>
    <li class="<%= active==='history'?'active':'' %>">
      <a href="/history-nomenclature">History Nomenclature</a>
    </li>
    <li class="<%= active==='about'?'active':'' %>">
      <a href="/about">About</a>
    </li>
    <li class="<%= active==='feedback'?'active':'' %>">
      <a href="/feedback">Feedback</a>
    </li>
    <li>
      <a href="/logout">Logout</a>
    </li>
  </ul>
</aside>

<script src="/js/logoutHandler.js"></script>

